<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Invoicer</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleName</key>
  <string>Invoicer</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>UILaunchScreen</key>
  <dict/>
  <key>UIApplicationSceneManifest</key>
  <dict>
    <key>UIApplicationSupportsMultipleScenes</key><false/>
  </dict>

  <!-- Kamera / biblioteka -->
  <key>NSCameraUsageDescription</key>
  <string>Programa naudoja kamerą dokumentų fotografavimui.</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>Programa gali pasiekti nuotraukų biblioteką, jei norėsite pasirinkti iš jos.</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>Programa gali įrašyti nuotraukas į biblioteką, jei to paprašysite.</string>
</dict>
</plist>
